latex.code-workspace
WS25-ART-Mitschrift.aux
WS25-ART-Mitschrift.fdb_latexmk
WS25-ART-Mitschrift.log
WS25-ART-Mitschrift.synctex.gz
WS25-ART-Mitschrift.fls
WS25-ART-Mitschrift.out
WS25-ART-Mitschrift.toc